{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}New Sale - KGL{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title mb-4">Add New Sale</h2>
                <form method="post" id="saleForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.name_of_produce|as_crispy_field }}
                            {{ form.tonnage|as_crispy_field }}
                            {{ form.amount_paid|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.buyers_name|as_crispy_field }}
                            {{ form.sales_agent|as_crispy_field }}
                        </div>
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Record Sale</button>
                        <a href="{% url 'all_sales' %}" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
